image: rocker/verse:latest

variables:
  GIT_DEPTH: 10

stages:
  - build

pages:
  stage: build
  before_script:
    # Install Quarto
    - wget https://github.com/quarto-dev/quarto-cli/releases/download/v1.4.550/quarto-1.4.550-linux-amd64.deb
    - dpkg -i quarto-1.4.550-linux-amd64.deb
    - quarto --version
    
    # Install required R packages
    - R -e 'install.packages(c("ggplot2", "patchwork", "magick", "glue", "viridis"))'
    
  script:
    # Render the presentation
    - quarto render presentation.qmd
    
    # GitLab Pages expects output in public/ directory
    - mkdir -p public
    - cp -r presentation_files public/
    - cp presentation.html public/index.html
    
  artifacts:
    paths:
      - public
    expire_in: 30 days
  
  only:
    - main
    - master
